body {
    background-color: #181A1B;
    color: white;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.introduction {
    float: left;
}

.clearfix {
    clear: both;
}

#profile-picture {
    border-radius: 100%;
    float: inherit;
}

#introduction-paragraph {
    float: inherit;
}